################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/obj/Debug
/obj/
/bin/
/.vs/
/.vs/ThreeboxSolution/v16
/tests/node_modules
/tests/obj/Debug
/threebox-new.njsproj
/server.js
/ThreeboxSolution.sln
/ThreeboxSolution/