################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/obj/Debug
/obj/
/bin/
/.vs/
/examples/config.js
/.vs/ThreeboxSolution/v16
/tests/node_modules
/tests/obj/Debug
/server.js
/ThreeboxSolution.sln
/ThreeboxSolution/